<div class ="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            {{!-- <div class="row">
                <!--HEADER-->
                <header id="masthead">
                    <div class="container" id="titlehead"></div>
                        <h1>CREATE AN ADVENTURE</h1>   
                    </div>
                </header> --}}

                <div class ="container" id="createContainer">
                    <form id="adventure-form">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input placeholder="Paris Je t'aime" type="text" class="form-control form-control-lg" id="title"> 
                            <br>
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="3" id="description" ></textarea>
                            <div class="form group">
                                <label for="calendar">Select Your Dates</label>
                                <input class="form-control" type="text" id="daterange" name="datefilter" value="" />
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary" id="newItSub">Submit</button>
                            <button type="cancel" onclick="location.href='/members'" class="btn btn-primary" id="cancelBtn">Cancel</button>
                        </div>
                    </form>
                </div>  
            </div>   
        </div>  
    </div>     
</div>       

<script type="text/javascript">

    
    $(
        function() {
            //Functions for handling the form submission
            var descriptionInput = $("#description");
            var titleInput = $("#title");
            var adForm = $("#adventure-form");

            //rendering the calendar and getting date range values
            $('#daterange').daterangepicker({
                autoUpdateInput: false,
                parentElement: adForm,
                locale: {
                cancelLabel: 'Clear'
                } 
            });

            $('#daterange').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                startDate =   picker.startDate.format('MM/DD/YYYY');
                endDate =   picker.endDate.format('MM/DD/YYYY');
                dateRangeArr = [startDate, endDate];
                return dateRangeArr;
            });

            $('#daterange').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

            $('#daterange').on('apply.daterangepicker', function(ev, picker) {
            });

            $(adForm).on("submit", handleFormSubmit);


                function submitAdventure(adventure){
                    $.post("api/adventures", adventure, function(){
                    //this should be a function to direct to the next page
                    console.log(adventure);
                }).then(function(results){
                     console.log(results);
                     window.location.href ="/members"
                 });
            
            }

            function arrayToString(arr){
                var newArr = [];
                for(var i=0; i<arr.length; i++){
                    var str = arr[i].toString();
                    newArr.push(str);
                    }
                return newArr;
            }

            function getDates(startDate, stopDate) {
                var dateArray = [];
                var currentDate = moment(startDate);
                var stopDate = moment(stopDate);
                while (currentDate <= stopDate) {
                    dateArray.push( moment(currentDate).format('MM-DD-YYYY') )
                    currentDate = moment(currentDate).add(1, 'days');
                }
                return dateArray;
            }

            

            //works- define the function outside the form but invoke/passarray inside the form
            function dateObjArr(arr){
                var objArr = [];
                for(var i=0; i<arr.length; i++){
                    var dateObj = {
                        date: arr[i]
                    }
                    objArr.push(dateObj);
                }
                return objArr;
            }


            function handleFormSubmit(event){
                event.preventDefault();
                if (!titleInput.val().trim() || !descriptionInput.val().trim() ) {
                    return;
                }
                var getDateArr = getDates(dateRangeArr[0], dateRangeArr[1]);
                var dateStringArray = arrayToString(getDateArr);
                var allDateObj = dateObjArr(dateStringArray);
                var rangeString = dateRangeArr.toString();
            
                
                var newAdventure = {
                title: titleInput.val().trim(),
                description: descriptionInput.val().trim(),
                UserId: {{user.id}},
                sendingarray: dateStringArray,
                dateRange: rangeString
                };

                //may need to add in logic if we want to use this for updating a trip as well later on
                submitAdventure(newAdventure);                
            }    

    });

</script>
