<div class = "container">

    <form id="adventure-form">

        <div class="form-group">
            <label for="title">Title:</label>
            <input placeholder="Paris Je t'aime" type="text" class="form-control form-control-lg" id="title"> 
            <br>
            <label for="description">Description:</label>
            <textarea class="form-control" rows="3" id="body" ></textarea>
            <div class="form group">
                <label for="calendar">Select Your Dates</label>
                <input class="form-control" type="text" id="daterange" name="datefilter" value="" />
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="newItSub">Submit</button>
        </div>
    </form>

</div>

<script type="text/javascript">

    
    $(
        function() {
            //Function(s) for rendering the calendar and returning the start & end dates the user
            $('#daterange').daterangepicker({
                autoUpdateInput: false,
                locale: {
                cancelLabel: 'Clear'
                } 
            });

            $('#daterange').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $('#daterange').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

            $('#daterange').on('apply.daterangepicker', function(ev, picker) {
                var startDate = picker.startDate.format('MM/DD/YYYY');
                var endDate = picker.endDate.format('MM/DD/YYYY');
                console.log(getDates(startDate,endDate));
                console.log(picker.startDate.format('MM/DD/YYYY'));
                console.log(picker.endDate.format('MM/DD/YYYY'));
            });
        
            function getDates(startDate, stopDate) {
                var dateArray = [];
                var currentDate = startDate;
                var stopDate = stopDate;
                while (currentDate <= stopDate) {    
                    dateArray.push( { date: moment(currentDate).format('MM/DD/YYYY') })
                    currentDate = moment(currentDate).add(1, 'days');
                }
                return dateArray;
            }


            //Functions for handling the form submission
            var bodyInput = $("#body");
            var titleInput = $("#title");
            var adForm = $("#adventure-form");
            //var authorSelect = $("#author");

            $(adForm).on("submit", handleFormSubmit);

            function handleFormSubmit(event){
                event.preventDefault();
                if (!titleInput.val().trim() || !bodyInput.val().trim() ) {
                //need to add in something about the date being empty as well later
                    return;
                }

                var newAdventure = {
                title: titleInput.val().trim(),
                body: bodyInput.val().trim(),
                //AuthorId: authorSelect.val()//need to target the dates
                };
                //may need to add in logic if we want to use this for updating a trip as well later on
                submitAdventure(newAdventure);
            }    

            function submitAdventure(adventure){
                $.post("api/adventures", adventure, function(){
                    //this should be a function to direct to the next page
                    console.log(adventure);
                });
            }
            






    });

    


    









</script>
