<div class = "container">

    <form id="adventure-form"  >

        <div class="form-group">
            <label for="title">Title:</label>
            <input placeholder="Paris Je t'aime" type="text" class="form-control form-control-lg" id="title"> 
            <br>
            <label for="description">Description..:</label>
            <textarea class="form-control" rows="3" id="description" ></textarea>
            <div class="form group">
                <label for="calendar">Select Your Dates</label>
                <input class="form-control" type="text" id="daterange" name="datefilter" value="" />
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="newItSub">Submit</button>
        </div>
    </form>

</div>


</script>
