{{!-- THIS IS WHAT GETS DISPLAYED AFTER THE USER LOGS IN ON THE ROOT ROUTE - VIEW OF ITINERARIES--}}

  <div class="row">
    {{!--COLUMN FOR EVERYTHING AFTER SIDEBAR--}}
    <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {{!-- MAST AND BODY NEED TO BE IN ONE ROW FOR FORMATTING ON TOP OF EACHOTHER
      NEED SEPARATE ROWS FOR MARGIN/OVERLAP --}}
      <div class="row">
        <!--HEADER: DO NOT ADJUST-->     
 

        <!--MODULES SHOULD POPULATE BELOW: *WIP*-->
        <!--EVERYTHING WE PUT ON THIS PAGE NEEDS TO BE IN HERE-->
        <div class="container-fluid" id="card-section">
            <!--BUTTON FOR CREATING NEW ADVENTURE-->
              <span style="font-size: xxx-large; color: #f7cf61;"><button onclick="location.href='/create'" id="plusBtn">
                <i class="fas fa-plus-circle"></i></button>
              </span>
            <!--ADVENTURE CARDS APPEND HERE-->
            {{#adventures}}
              <div id="card-row">
                <div class="card">
                  <img class="card-img-top" src="nautic.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/itinerary" class="btn btn-primary">See Your Itinerary</a>
                  </div>
                </div>
              </div>
              <br>
            {{/adventures}}
        </div>
      </div>                
    </div>
  </div>
</div>

<!---->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
/*$(document).ready(() => {

  var adventureContainer = $(".adventure-container");
  var userId;
  var adventures;

  getAdventures({{user.id}});

  //Gets all adventures for the current user
  function getAdventures(user){
    userId = user;
    $.get("/api/adventures/" + user, function(data){
      console.log(data);
      
    });
  }


});  */

</script>
