{{!-- THIS IS WHAT GETS DISPLAYED AFTER THE USER LOGS IN ON THE ROOT ROUTE - VIEW OF ITINERARIES--}}
<div class ="container-fluid">
  <div class="row">
    {{!--COLUMN FOR EVERYTHING AFTER SIDEBAR--}}
    <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {{!-- MAST AND BODY NEED TO BE IN ONE ROW FOR FORMATTING ON TOP OF EACHOTHER
      NEED SEPARATE ROWS FOR MARGIN/OVERLAP --}}
      <div class="row">
        <!--HEADER: DO NOT ADJUST-->     
        <div class="row">
          <header id="masthead">
            <div class="container" id="titlehead"></div>
              <h1>THE WORLD IS YOURS</h1>
            </div>
          </header>
        </div>

        <!--MODULES SHOULD POPULATE BELOW: *WIP*-->
        <!--EVERYTHING WE PUT ON THIS PAGE NEEDS TO BE IN HERE-->
        <div class="row" id="primary">
          <p>EVERYTHING WE PUT ON THIS PAGE NEEDS TO BE IN HERE</p>
            <!--BUTTON FOR CREATING NEW ADVENTURE-->
            <div class="row" id="plus">
              <span style="font-size: xxx-large; color: #f7cf61;"><button onclick="location.href='/create'" id="plusBtn">
                <i class="fas fa-plus-circle"></i></button>
              </span>
            </div>
            <!--ADVENTURE CARDS APPEND HERE-->
            {{#each adventures}}
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              {{/each}}
        </div>
      </div>                
    </div>
  </div>
</div>

<!---->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
$(document).ready(() => {

  var adventureContainer = $(".adventure-container");
  var userId;
  var adventures;

  getAdventures({{user.id}});

  //Gets all adventures for the current user
  function getAdventures(user){
    userId = user;
    $.get("/api/adventures/" + user, function(data){
      console.log(data);
      
    });
  }


});  

</script>
