{{!-- THIS IS WHAT GETS DISPLAYED AFTER THE USER LOGS IN ON THE ROOT ROUTE - VIEW OF ITINERARIES--}}



  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">



    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div>
          <h2>PLEASE KEEP THIS LINE OF TEXT FOR NOW -CODE EXAMPLE HOW TO REFERENCE FROM THE DB: ***  <span class="member-name">{{user.email}}</span> *** </h2>
          <br>
          <hr>
          <p>In this file we will have different cards for the itineraries that have been created and a button to create a new itinerary</p>
          <p> to view the intro page with the ship image <a href="https://oyster01.herokuapp.com/intro">/intro (Heroku)</a><a href="http://localhost:8080/intro">/intro (localhost)</a></p>
          <p> to view the page with the map <a href="https://oyster01.herokuapp.com/map">/map (Heroku)</a><a href="http://localhost:8080/map">/map (localhost)</a></p>
          <p> to view the the page where you enter details to create a new itinerary<a href="https://oyster01.herokuapp.com/create">/create (Heroku)</a><a href="http://localhost:8080/create">/create (localhost)</a></p>

        </div>
















      </div>
    </div>







  {{!-- END OF CONTAINER   --}}
  </div>