{{!-- THIS IS WHAT GETS DISPLAYED AFTER THE USER LOGS IN ON THE ROOT ROUTE - VIEW OF ITINERARIES--}}
<!--HEADER: DO NOT ADJUST-->
<header id="masthead">
  <div class="container" id="titlehead"></div>
    <h1>MY BEST LAID PLANS</h1>   
  </div>
</header>
<!--SIDEBAR: DO NOT REMOVE-->
<div class="container" id="sidebar">
  <h2><a href="" id="logo">OYSTER</a></h2>
  <p>Welcome <span class="member-name">{{user.id}}!</span></p>
  <ul>
    <li><a href="/members"><i class="fas fa-user-tie"></i>Profile</a></li>
    <li><a href="/map"><i class="fas fa-search"></i>Search</a></li>
    <li><a href="#"><i class="fas fa-heart"></i>Favorites</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  </div>
  <!--MODULES SHOULD POPULATE BELOW: *WIP*-->
  <div class="container">
    <div class="row">
      {{!-- {{#each cards}}
      <a href="/itenerary">
    <div class="col-md-6" >
      <img src={{cards.image}}>
      <p>{{cards.city}}</p>
      <p>{{cards.date}}</p>
      </a>
    </div>
    
{{/each}} --}}
      <div class="col-md-6 col-md-offset-3">
       <a href="/create">Test Text</a>
      </div>
    </div>
  </div>
 <div class="container-fluid">
  </div>
  <div id="main-container" class="container-fluid"></div>
<!---->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>