{{!-- THIS IS THE INTRO PAGE WITH THE QUOTE --}}
<!--DO NOT INCLUDE SIDEBAR-->
<div class="container-fluid">
    {{!--COLUMN FOR EVERYTHING AFTER SIDEBAR--}}
    <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {{!-- MAST AND BODY NEED TO BE IN ONE ROW FOR FORMATTING ON TOP OF EACHOTHER
      NEED SEPARATE ROWS FOR MARGIN/OVERLAP --}}
        <!--HEADER: DO NOT ADJUST-->     
        <div class="container-fluid">
          <section class="introContainer">
            <!-- <form>
                <input type="text" id="fquote" name="fquote">
            </form> -->
            <!--DNT-->    
            <img id="introImage" src="/img/voy2.png" alt="A fancy aesthetic">
            <br>
              <button id="beginBtn" onclick="location.href='signup'" class="btn btn-primary btn-lg fa fa">Begin your Journey!</button> 
              <h1 class="text-center" id="random-quote"></h1>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


