<div class="container" id="sidebar">
  <h2><a href="" id="logo">OYSTER</a></h2>
  <p>Welcome <span class="member-name">{{user.id}}!</span></p>
  <ul>
    <li><a href="/members"><i class="fas fa-user-tie"></i>Profile</a></li>
    <li><a href="/map"><i class="fas fa-search"></i>Search</a></li>
    <li><a href="#"><i class="fas fa-heart"></i>Favorites</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  </div>

  