  <input type="checkbox" id="check">
  <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
  </label>
  <div class="sidebar">
      <header>Oyster</header>
      <ul>
          <li><a href="../public/home.html"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="../public/map.html"><i class="fas fa-search"></i>Search</a></li>
          <li><a href="#"><i class="fas fa-user-tie"></i>Profile</a></li>
          <li><a href="#"><i class="fas fa-heart"></i>Favorites</a></li>
      </ul>
  </div>
  <section class="container">
      <div id="map"></div>
      <div id="citysearch">
          <form action="#">
              <label for="place">Enter Place Here</label><br>
              <input type="text" id="place"><br>
              <label for="city">Enter City Here</label><br>
              <input type="text" id="city"><br><br>
              <button id="searchBtn">Search</button>
          </form>
      </div>
<script src="https://code.jquery.com/jquery.js"></script>
