<div class ="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="row">
                    <!--HEADER-->
                    <header id="masthead">
                        <div class="container" id="titlehead"></div>
                            <h1>Seek the Unknown</h1>   
                        </div>
                    </header>

                    
                    <!--SEARCH FORM-->
                    <div class="container" id="mapSection">
                        <div id="map"></div>
                        <div id="citysearch">
                            <form action="#">
                                <label for="place" >Enter Place Here</label><br>
                                <input type="text" placeholder="Cafe" id="place"><br>
                                <label for="city">Enter City Here</label><br>
                                <input type="text" placeholder="Chicago" id="city"><br><br>
                                <button id="searchBtn">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        
   
<script>
    var map;
    function initMap() {
        var options = {
            zoom: 8,
            center: {lat: 41.8781, lng: -87.6298}
        }
        map = new google.maps.Map(document.getElementById('map'), options);
    }

    $("#searchBtn").on("click", () => {
        var city = $("#city").val()
        /*console.log(city);*/
        var place = $("#place").val()
        /*console.log(place);*/
        $.ajax({
            type: "GET",
            url: "https://api.foursquare.com/v2/venues/search?&client_id=WHXCLRJLV3MMGQGQAT2CKGMKGX3GOT5BS2QIJG5UKY2YWE0I&client_secret=FXJNWAI3TVD5X4LWOX1RTDNWME2EWIZCJPXR3VPLWNLB0GJZ&v=20202014",
            data: {
                near: city,
                query: place,
                limit: 10,
            },
            dataType: "json"
        }).done(res => {

            var latVal = res.response.venues[0].location.lat;
            var lonVal = res.response.venues[0].location.lng;
            var myLatlng = new google.maps.LatLng(latVal,lonVal);
            var mapOptions = {
            zoom: 8,
            center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            var marker = new google.maps.Marker({
                position: myLatlng
            });
            marker.setMap(map);

            var venueArr = generateNames(res.response.venues);
            console.log(venueArr);
        }) 
    })

    function generateNames (arr){
        var newArr = [];
        for (var i=0; i<arr.length; i++){
            var address = arr[i].location.formattedAddress;
            var obj={
                name: arr[i].name,
                address: `${address[0]}, ${address[1]}`
            };
            newArr.push(obj);
        }
        return newArr;
    }

</script>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAej4V036j9e3wm8Sb57mt-DWByyDadjA&callback=initMap&libraries=places&v=weekly"
    type="text/javascript"></script>   
Collapse
