
<div class ="container-fluid">

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <div class="row">


                
                    
                <!--SEARCH FORM-->
                <div class="container-fluid" id="mapContainer">
                    <div class= "row">
                        <div id="map"></div>
                    </div>
                    <div class="row">
                        <div id="citysearch">
                            <form id="search-form" action="#">
                                <div class="form-group">
                                    <label for="place" >Enter Place Here</label>
                                    <input placeholder="Cafe" type="text" class="form-control form-control-lg" id="place">
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label for="city">Enter City Here</label>
                                    <input placeholder="Chicago" type="text" class="form-control form-control-lg" id="city"> 
                                    <br>
                                </div>
                                <button id="searchBtn" class="btn btn-primary">Search</button>
                                
                            </form>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    {{!-- NEW --}}
                    <div class="row">
                        <div id= "resultsContainer">
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>  



<script>

    var map;
    function initMap() {
        var options = {
            zoom: 8,
            center: {lat: 41.8781, lng: -87.6298}
        }
        map = new google.maps.Map(document.getElementById('map'), options);
    }

    var resultsContainer = $("#resultsContainer");
    var FavoriteButton = $("button.favorite");
  
    $("#searchBtn").on("click", () => {
        var city = $("#city").val()
        /*console.log(city);*/
        var place = $("#place").val()
        /*console.log(place);*/
        $.ajax({
            type: "GET",
            url: "https://api.foursquare.com/v2/venues/search?&client_id=WHXCLRJLV3MMGQGQAT2CKGMKGX3GOT5BS2QIJG5UKY2YWE0I&client_secret=FXJNWAI3TVD5X4LWOX1RTDNWME2EWIZCJPXR3VPLWNLB0GJZ&v=20202014",
            data: {
                near: city,
                query: place,
                limit: 10,
            },
            dataType: "json"
        }).done(res => {

            var latVal = res.response.venues[0].location.lat;
            var lonVal = res.response.venues[0].location.lng;
            var myLatlng = new google.maps.LatLng(latVal,lonVal);
            var mapOptions = {
            zoom: 8,
            center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            var marker = new google.maps.Marker({
                position: myLatlng
            });
            marker.setMap(map);

            var venueArr = generateNames(res.response.venues);
            console.log(venueArr);

            initializeRows();
          
            function createNewRow(object){
                var resultButton = $("<button>+</button>");
                resultButton.addClass("btn btn-primary favorites");
                var name = object.name;
                $(resultButton).attr('id', name);
                 resultDiv = $("<div>");
                $(resultDiv).attr('id', name);                
                resultDiv.addClass("result");
                resultDiv.append(`${object.name}  |  ${object.address} `);
                resultDiv.append(resultButton);
                return resultDiv;
            }

            function initializeRows(){
                resultsContainer.empty();
                var rowsToAdd= [];
                for(var i=0; i<venueArr.length; i++){
                    var newTRow = createNewRow(venueArr[i]);
                    rowsToAdd.push(newTRow);
                }
                resultsContainer.append(rowsToAdd);
            }
        }) 
    })

    function generateNames (arr){
        var newArr = [];
        for (var i=0; i<arr.length; i++){
            var address = arr[i].location.formattedAddress;
            var obj={
                name: arr[i].name,
                address: `${address[0]}, ${address[1]}`
            };
            newArr.push(obj);
        }
        return newArr;
    }

</script>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAej4V036j9e3wm8Sb57mt-DWByyDadjA&callback=initMap&libraries=places&v=weekly"
    type="text/javascript"></script>   
Collapse
