  <input type="checkbox" id="check">
  <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
  </label>
  <div class="sidebar">
      <header>Oyster</header>
      <ul>
          <li><a href="../public/home.html"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="../public/map.html"><i class="fas fa-search"></i>Search</a></li>
          <li><a href="#"><i class="fas fa-user-tie"></i>Profile</a></li>
          <li><a href="#"><i class="fas fa-heart"></i>Favorites</a></li>
      </ul>
  </div>
  <section class="container">
      <div id="map"></div>
      <div id="citysearch">
          <form action="#">
              <label for="place">Enter Place Here</label><br>
              <input type="text" id="place"><br>
              <label for="city">Enter City Here</label><br>
              <input type="text" id="city"><br><br>
              <button id="searchBtn">Search</button>
          </form>
      </div>
   </section>
   
   <script>
        var map, infoWindow; 

function initMap() {
   var options = {
    zoom: 8,
    center: {lat: 41.8781, lng: -87.6298}
   };

   map = new google.maps.Map(document.getElementById('map'), options);

   var input = document.getElementById('city');
   var searchBox = new google.maps.places.SearchBox(input);

   map.addListener('bounds_changed', function() {
       searchBox.setBounds(map.getBounds());
   });

   var markers = [];

   searchBox.addListener('places_changed', function() {
       var places = searchBox.getPlaces();

       if (places.length === 0)
        return;

       markers.forEach(function (m) {m.setMap(null); });
       markers = [];
       
       var bounds = new google.maps.LatLngBounds();

       places.forEach(function (p) {
           if (!p.geometry)
            return;

           markers.push(new google.maps.Marker({
               map: map,
               title: p.name,
               position: p.geometry.location
           }));
           
           if (p.geometry.viewport)
            bounds.union(p.geometry.viewport);
           else
            bounds.extend(p.geometry.location); 
       });
       map.fitBounds(bounds);
   });
}
   </script>
<script src="https://code.jquery.com/jquery.js"></script>
