@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');


body {
  background-image: url(../img/waves.png);
}
.container {
  position: fixed;
}
/* Addresses Masthead Overflow */
#primary{
  padding-top:200px;
  padding-left:30px;
  position: relative;
}

form.signup,
form.login {
  margin-top: 50px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

p {
  color: white;
}

h1 {
  padding-bottom: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size-adjust: initial;
  font-size: 100px;
  color: #4682b4;
  text-align: center;
}

#oyster {
  font-size: 150px;
}

#introContainer {
  height: 80%;
  width: 60%;
  background-color: #f7cf61;
  color: #f7cf61;
  padding-top: 5%;
  border: 10px solid #f7cf61;
  position: relative;

}

#introImage {
  border: #f7cf61;
  position: relative;
  padding-left: 45px;
  align-content: center;
  width: 500px;
  height: 500px;
  margin: 0px 20px 10px 0px;
}

#masthead {
  position: relative;
  height: 150px;
  width: 100%;
  margin-left: 15%
  overflow: auto;
  background-color: white;
  border-color: #f7cf61;
  border: 10px solid #f7cf61;
  overflow: hidden;
}

#sidebar {
  position: fixed;
  left: -250px;
  width: 15%;
  height: 100%;
  background: #06b0ce ;
  opacity: 30%;
  transition: all .5s ease;
  z-index: 1111;
}
#sidebar:hover {
  opacity: 80%;
  transition-timing-function: ease-in;
  background: #044766;
}

#logo {
  font-size: 45px;
  background-color: white;
  opacity: 500%;
  border-radius: 10px;

}

ul li:hover a {
  padding-left: 50px;
}
.sidebar ul a i {
  margin-right: 16px;
}
#check {
  display: none;
}
label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  background: #4682b4;
  border-radius: 3px;
} 
label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel {
  z-index: 2222;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ #sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel {
  left: 195px;
}

/*LOGIN & SIGNIN PAGE*/
#logbox, #signbox {
  color: white;
}
#signuplink, #loginlink {
  color: #f7cf61;
}
/*STYLING FOR MAIN MEMBERS PAGE*/

.card-row {
  padding-inline-start: inherit;
}

.card {
  border: 10px solid #f7cf61;
  border-radius: 15px;
  width: 30%;
  height: 40%;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.card-body {
  background-color:  #044766;
  font-size: 20px;
}

.card-title {
  font-size: 30px;
  color: #06b0ce
}

.card-description {

}

#card-section {
  padding-top: 100px;
}

#plus {
  position: fixed;
  bottom: -350px;
  left: 80%;
}

#plusBtn {
  position: fixed;
  size: 100%;
  background-color: transparent;
  border: transparent;
  bottom: 50px;
  left: 90%;
}

/*STYLING FOR ITINERARY PAGE*/
#adInput {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid white;
  padding: 10px;
  text-align: center;
}

.adventure{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.title-block{
  text-align: center;
  background-color: #f7cf61;
  color: white;
  text-align: center;
}

#dayTitle {
  text-align: center;
  padding-left: 45%;
}

.hour {
  background-color: #f7cf61;
  color: white;
  border-top: 1px dashed #f7cf61;
}

.addBtn {
  border-left: 1px solid white;
  border-top-right-radius: 15px transparent;
  border-bottom-right-radius: 15px transparent;
  background-color: #6099e4;
  color: white;
}

.addBtn:hover {
  background-color: #b38405;
  color: white;
}

.addBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
/*CREATE PAGE*/
#createContainer {
  width: 40%;
  color: #f7cf61;
  padding-top: 5%;
}
/*STYLING FOR GOOGLE MAPS*/
#mapContainer {
  padding-top: 10px;
  align-content: center;
}

#map {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  top: 150px;
}

/*STYING FOR SEARCH BUTTONS */
#citysearch {
  margin-top: 200px;
  margin-left: 50px;
  padding-left: 55px;
}

h1 {
  padding-bottom: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size-adjust: initial;
  font-size:2.5rem;
  color: #4682b4;
  text-align: center;
}
@media (min-width: 544px) {  
  h1 {font-size:3.5rem;} /*1rem = 16px*/
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:4.5rem;} /*1rem = 16px*/
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:5.5rem;} /*1rem = 16px*/
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:6rem;} /*1rem = 16px*/    
}

